/* @charset "UTF-8"; */
/* @import "default_style.css"; */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');
html {
    scroll-behavior: smooth;
}

body, header, nav, main, footer, section, article, aside, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, table, caption, thead, tbody, tfoot, tr, th, td, figure, figcaption, form, fieldset, legend, input, select, textarea, button, address, blockquote{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'SCoreDream', 'Cinzel', Arial,Helvetica, sans-serif;
    color:#59574F;
}
ol, ul{
    list-style: none;
}
img, fieldset{
    border: 0;
}
a{
    text-decoration: none;
    color: #59574f;
}
em, i, address{
    font-style: normal;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
caption, hr, legend{
    display: none;
}
textarea{
    resize: none;
}
img{
    display: block;
}
input, button, select{
    box-sizing: border-box;
}
