@import url('./default_style.css');

/* 비디오(배경픽스) -------------------------------------------- */
#main_sect01_video{
    /* width: 100vw; height: 100vh; */
    width: 100vw; height: 100vh;
}
#main_sect01_video>.background_video{
    width: 100%; height: auto;
    position: fixed;
    object-fit: cover;
    top:0; left: 0;
    z-index: -1;
}
#main_sect01_video>.background_video>source{
    width: 100%; height: 100%;
}

/*  사이배경 -------------------------------------------- */
.back_gradient{
    /* width: 100vw; height: 800px; */
    width: 100%; height: 800px;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
}

/*  메인 section_메인배너 -------------------------------------------- */
#event_banner{
    min-width: 1920px;
    height: 100vh;
    background: #ffffff;
    padding-top: 500px;
}
.slide_banner{
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}
.banner_image{
    position: absolute;
    top: 0; left: 0;
    /* width: 3048px; */
    display: flex;
    justify-content: center;
}
.banner_image.animated{
    transition: 0.5s ease-out;
}
.banner_image li:not(:last-child){
    margin-right: 24px;
}
/* .banner_btns{
    position: absolute;
    top: 570px;
    left: 50%;
    transform: translateX(-50%);
}
.banner_btn{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
} */
.banner_arrow{
    width: 800px;
    position: absolute;
    top: 50%; left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.banner_arrow button{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    background: rgba(255, 255, 255, 0.55);
    color: rgba(0, 0, 0, 0.55);
}
.slide_counter{
    width: 80px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 20px;
    position: absolute;
    bottom: 10%; left: 50%;
    transform: translateX(-50%);
    color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.play_btn{
    margin-left: 5px;
    width: 30px;
    height: 20px;
    background: url('../images/stop1.png') no-repeat center center;
    background-size: contain;
    border: 0;
}
.play_btn.stop{
    background-image: url('../images/play1.png');
}
.counter{
    width: 50px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.55);
}    

/*  메인 section_대표메뉴 -------------------------------------------- */
#main_sect02_signature {
    width: 100%;
    height: 600px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    padding-bottom: 400px;
}

/* Signature Head */
.signature_head {
    position: absolute;
    left: 125px;
    top: 0;
}

.signature_head > h2 {
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 16px;
}

.signature_head > p {
    font-size: 20px;
}

/* Signature Menu */
.signature_menu {
    width: 674px;
    height: auto;
}

.signature_menu > ul {
    width: 100%;
}

.signature_menu > ul > li {
    width: 508px;
    height: 62px;
    border-radius: 0 10px 10px 0;
    background: #f8f2f3;
    margin-top: 8px;
}

.signature_menu > ul > li > h2 {
    display: flex;
    justify-content: end;
    text-align: right;
    line-height: 62px;
    padding-right: 30px;
    font-size: 22px;
    font-weight: 500;
}

.signature_menu > ul > li > h2 > img {
    line-height: 0px;
}

.signature_menu > ul > li:hover {
    width: 550px;
    background: #5185C4;
    transition: all 0.5s; /* width background-color */
}

.signature_menu > ul > li:hover h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

.signature_menu > ul > li:last-of-type:hover h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-right:30px;
}

/* Signature Contents */
.signature_contents {
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    height: 600px;
    width: 1236px;
    flex-grow: 0.6;
    overflow: hidden;
}

.signature_contents > figure {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    flex-direction: column;
    width: 800px;
    height: 100%;
    transition: transform 0.5s;
}

.signature_contents > figure p {
    text-align: center;
    margin-bottom: 100px;
    font-size: 20px;
}

.signature_contents figure:first-child img {
    width: 800px;
    height: 600px;
}

.signature_contents figure:last-child img {
    width: 800px;
    height: 600px;
}

/* Signature Menu List and Styling */
.signature_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.signature_menu ul li {
    margin-bottom: 10px;
}

/* Signature Contents Figure Styling */
.signature_contents figure img {
    width: 800px;
    height: 600px;
}

.signature_contents figure figcaption {
    width: 321px;
    height: auto;
    position: absolute;
    top: 400px;
    left: -400px;
    color: #59574F;
}

/* Signature Menu Last Item Styling */
.signature_menu li:last-of-type h2 {
    display: flex;
    justify-content: end;
    align-items: center;
}

/* Signature Menu Animation */
.signature_menu h2 div {
    width: 336px;
    height: 3px;
    background: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 0 100%, 0% 100%, 0% 0%);
    animation: revealFromLeft 1s forwards;
}

.signature_menu h2 img {
    width: 10px;
    height: 23px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 0 100%, 0% 100%, 0% 0%);
    animation: revealFromLeft 1s forwards;
    animation-delay: 0.65s;
}

.signature_menu h2 h2 {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    justify-content: end;
}

.menu_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
/* Animation Keyframes */
@keyframes revealFromLeft {
    0% {
        clip-path: polygon(0 0, 0 100%, 0% 100%, 0% 0%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

/*  메인 section_스토어 -------------------------------------------- */
#main_sect04_store{
    width: 100%; height: 538px;
    position: relative;
    background: #fff;    
    padding-bottom: 300px;
}
.main_store_bg{
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: url("../images/BackgroundImage2.png") no-repeat;
    opacity: 0;
}
.main_store_bg.hovered{
    width: 100%; height: 100%;
    transition: all 1s;
    opacity: 1;
}
.main_store_wrap{
    width: 87%; height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    
}
.main_store_wrap>.store_head{
    width: 392px; height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 9;
}
.main_store_wrap>.store_head>h2{
    font-family: 'Cinzel';
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 16px;
}
.main_store_wrap>.store_head>p{
    font-size: 20px;
}
.main_store_wrap>div{
    width: 1278px; height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.main_store_wrap>div>figure{
    width: 280px; height: 280px;
    background: #fff;
    border-radius: 50%;
    position: relative;
}
.main_store_wrap>div>figure>.Seoul{
    width: 250px; height: 250px;
    background-image: url("../../assets/images/Seoul.png");
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
}
.main_store_wrap>div>figure>.Busan{
    width: 250px; height: 250px;
    background-image: url("../../assets/images/Busan.jpg");
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
}
.main_store_wrap>div>figure>.Jeju{
    width: 250px; height: 250px;
    background-image: url("../../assets/images/Jeju.jpg");
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
}
/* .main_store_wrap>div>figure img{
    width: 1920px; height: 538px;
    position: absolute;
} */
.main_store_wrap>div>figure>figcaption{
    width: 200px; height: auto;
    /* background: #dbedff; */
    text-align: center;
    position: absolute;
    left: 50%; top: 104%;
    transform: translate(-50%);
}
.main_store_wrap>div>figure>figcaption>p:first-child{
    font-size: 22px;
    font-weight: 600;
}
.main_store_wrap>div>figure>figcaption>p:last-child{
    opacity: 0;
    position: absolute;
    left: 50%; top: -140px;
    transform: translate(-50%,-50%);
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}
.main_store_wrap>div>figure:hover+.main_store_bg{
    background: url("../images/main_store_BG_01.png") no-repeat;
}
.main_store_wrap>div>figure:hover a{
    width: 426px; height: 538px;
    border-radius: 0;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.7s;
}
.main_store_wrap>div>figure:hover figcaption>p:first-child{
    display: none;
}
.main_store_wrap>div>figure:hover figcaption>p:last-child{
    opacity: 1;
    transition: all 1.5s;
    cursor: pointer;
}

/*  메인 section_sub배너 -------------------------------------------- */

#family_section{
    width: 100%;
    height: 50px;
    padding-bottom: 120px;
    background: #fff;
    display: flex;
    overflow: hidden;
    position: relative;
}
.family_rolling{
    display: flex;
    animation: rollingleft 10s linear infinite;
    gap: 10px;
}
.family_rolling.original{
    animation: rollingleft1 10s linear infinite; 
}
.family_rolling.clone{
    animation: rollingleft2 10s linear infinite; 
}
@keyframes rollingleft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes rollingleft1{
    0% { transform: translateX(0);}
    50% { transform: translateX(-100%);}
    50.01% { transform: translateX(100%);}
    100% { transform: translateX(0);}
}
@keyframes rollingleft2{
    0% { transition: translateX(0);}
    100%{ transform: translateX(-200%);}
}
.image_wrap{
    width: 100%;
    white-space: nowrap;
    display: flex;
    gap: 50px;
    margin-right: 50px;
}  

/*  탑 버튼 --------------------------------------------표성현 바꿈 */
#top_btn{
    width: 80px; height: 80px;
    border-radius: 50%;
    background: #f3f4f6;
    /* position: absolute; */
    right: 20px; bottom: 20px;
    position: fixed;
    transition: opacity 0.9s ; /* 서서히 나타나는 효과 */
    opacity: 0; /* 초기에는 숨김 */
}
#top_btn.visible {
    opacity: 1; /* 나타날 때의 투명도 */
}
#top_btn>a{
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#top_btn>a>p{
    font-size: 16px;
}

